<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/screen.css">
</head>
<body class="page__body">
    <header class="header">
        <h1 class="header__title">
            <a class="header__link" href="/">Пепелсбей.net</a>
        </h1>
    </header>
    <main class="main">
        {{ content | safe }}
    </main>
    <footer class="footer">
        <p>2005—2019 © Вадим Макеев</p>
    </footer>
</body>
</html>
