/* Archive */

.archive {
    grid-column: 1 / -1;
}

.archive__title {
    margin: 0;
}

.archive__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.archive__link {
    text-decoration: none;
    color: #cc0000;
}
