/* Archive */

.archive {
    grid-column: 1 / -1;
    padding: 20px;
}

.archive::before {
    display: block;
    height: 0;
    border-top: 1px solid hsla(6, 28%, 20%, 0.2);
    border-bottom: 1px solid white;
    content: '';
}

/* Title */

.archive__title {
    margin-top: 12px;
    margin-bottom: 18px;
    font-weight: normal;
    font-size: 24px;
}

/* List */

.archive__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Item */

.archive__item + .archive__item {
    margin-top: 18px;
}

/* Link */

.archive__link {
    --archive__link-color: hsla(0, 100%, 40%, 0.2);
    --archive__link-height: 0.1em;
    text-decoration: none;
    background-image: linear-gradient(
        to top,
        var(--archive__link-color),
        var(--archive__link-color) var(--archive__link-height),
        transparent var(--archive__link-height)
    );
    color: #cc0000;
    font-size: 24px;
    line-height: 1;
}

.archive__link:hover,
.archive__link:focus {
    --archive__link-color: hsla(0, 100%, 40%, 0.7);
}

/* Date */

.archive__date {
    display: block;
    white-space: nowrap;
    font-size: 16px;
}
