/* Footer */

.footer {
    grid-column: 1 / -1;
    padding: 20px;
    background-color: hsla(6, 28%, 20%, 0.1);
    /* box-shadow: 0 1px 0 0 hsla(6, 28%, 20%, 0.2) inset; */
}

.footer__copy {
    margin-top: 0;
    margin-bottom: 0;
}
