/* Footer */

.footer {
    grid-column: 1 / -1;
    padding: 20px;
}

.footer::before {
    display: block;
    height: 0;
    border-top: 1px solid hsla(6, 28%, 20%, 0.2);
    border-bottom: 1px solid white;
    content: '';
}

.footer__copy {
    margin-top: 16px;
    margin-bottom: 0;
}
