/* Header */

.header {
    grid-column: 1 / -1;
    padding: 20px;
    background-color: hsla(6, 28%, 20%, 0.1);
}

.header__title {
    margin: 0;
    line-height: 1;
    font-weight: normal;
    font-size: 35px;
}

.header__link {
    display: flex;
    color: #402724;
    text-decoration: none;
}

.header__link::before {
    margin-left: -0.1em;
    margin-right: 0.1em;
    width: 1em;
    content: url(logo.svg);
}
